.orders{
    font-family: Roboto;
    width: 100%;
    font-size: 14px;
}
.orders td{
    text-align: center;
}
.orders tr:hover{
    background-color: rgba(153, 129, 129, 0.2);
}
.orders__actions-button{
    width: 35px;
    height: 35px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.orders__actions-button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.orders__order-state{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1px;
    font-size: 12px;
    width: 120px;
    height: 20px;
    margin: 0 auto;
}
.orders__order-state_new{
    background-color: green;
}
.orders__order-sate_submitted{
    background-color: rgb(247, 247, 124);
}
.orders__order-state_cooking{
    background-color: rgb(211, 211, 106);
}
.orders__order-state_ready{
    background-color: rgb(146, 146, 74);
}
.orders__order-state_delivering{
    background-color: rgb(110, 110, 57);
}
.orders__order-state_delivered{
    background-color: rgb(97, 97, 49);
}
.orders__order-state_canceled{
    background-color: rgb(165, 107, 89);
}








.cabinet-order{
    width: 720px;
    height: 600px;
    padding: 5px 5px 10px 5px;
    font-family: Roboto;
    font-size: 16px;
    overflow: hidden;
}
.cabinet-order h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.cabinet-order h3{
    font-size: 18px;
    margin: 5px 0;
}

.cabinet-order__state{
    padding: 10px;
    font-size: 14px;
}

.cabinet-order__products{
    overflow-y: auto;
    height: 300px;
}
.cabinet-order__product{
    display: flex;
    gap: 5px;
}
.cabinet-order__dish-img{
    width: 190px;
    height: 94px;
    border: 1px solid gray;
    display: block;
}
.cabinet-order__dish-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cabinet-order__product-info{

}
.cabinet-order__dish-name{
    font-weight: 600;
    font-size: 18px;
}
















.chef-orders{
    font-family: Roboto;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 15px;
}
.chef-orders__menu{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 1px;
}
.chef-orders__menu-element{
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    border: 1px solid rgb(128, 123, 123);
    border-radius: 15px;
    cursor: pointer;
}
.chef-orders__menu-element:hover{
    transition: 0.3s;
    background-color: #e0dddd;
}

.chef-orders__menu-element_all {
    background-color: #BC7BAA;
}
.chef-orders__menu-element_all:hover{
    background-color: #BC7BAA;
}
.chef-orders__menu-element_new{
    background-color: rgb(172, 206, 172);
}
.chef-orders__menu-element_new:hover{
    background-color: rgb(172, 206, 172);
}
.chef-orders__menu-element_in-progres{
    background-color: #FF9100;
}
.chef-orders__menu-element_in-progres:hover{
    background-color: #FF9100;
}
.chef-orders__menu-element_finished{
    background-color: #646b69;
}
.chef-orders__menu-element_finished:hover{
    background-color: #646b69;
}

.chef-orders__menu-count{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 8px;
    width: 20px;
    height: 20px;
    background-color: rgb(1, 107, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    color: white;
}
.chef-orders__orders-list{
    border-top: 1px solid gray;
    padding: 15px 5px;
}



