.slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider__border-values{
    width: 92%;
    display: flex;
    justify-content: space-between;
}
.slider__slider{
    width: 92%;
}
.slider__border-value{

}
.slider{
    height: 10px;
    background-color: rgb(25, 78, 25);
}
.slider .thumb{
    width: 20px;
    height: 20px;
    cursor: pointer;
}