.about-us{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 100px;
}

.about-us h1{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 39px;
}
.about-us h2{
    font-weight: 700;
    font-size: 54px;
    text-align: center;
}
.about-us p{
    margin-block-start: 0;
}
.about-us b{

}
.about-us img{
    object-fit: cover;
}


.about-us__top-container{
    margin: 0 3vw;
}
.about-us__top{
    display: flex;
    gap: 10%;
    margin-bottom: 149px;
    
}
.about-us__top-image{
    flex-basis: 37%;
    border-radius: 10px;
}
.about-us__top-image img{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    
    
}
.about-us__top-text{
    width: 45%;
}

@media(max-width: 1650px){
    .about-us__top{
        gap: 2%;
        margin-bottom: 40px;
    }
    .about-us__top-text{
        width: 60%;
        font-size: 20px;
        margin: 0;
    }
    .about-us__top-text p{
        margin-block-end: 0.5em;
    }
}

@media(max-width: 1350px){
    .about-us__top{
        flex-direction: column;
    }
    .about-us__top-text{
        width: 99%;
        font-size: 24px;
    }
    .about-us__top-text p{
        margin-block-end: 1em;
    }
}



.about-us__values{
    width: 65vw;
    margin: 0 auto;
}
.about-us__values-images{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-us__values-image{
    width: 9.6vw;
    height: 9.6vw;
    border-radius: 50%;
    margin-bottom: 42px;
}
.about-us__values-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.about-us__values-text{
    width: 100%;
}
.about-us__join-button{
    width: 239px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC7BAA;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-bottom: 89px;
}
@media(max-width: 1350px){
    .about-us__values{
        width: 94vw;
    }
    .about-us__values-image{
        width: 14vw;
        height: 14vw;
        margin-bottom: 22px;
    }
    .about-us__values-images{
        width: 100%;
    }
    .about-us__join-button{
        margin-bottom: 46px;
        margin-top: 20px;
    }
}
@media(max-width: 680px){
    .about-us__values-images{
        justify-content: space-around;
    }
    .about-us__values-image{
        width: 35vw;
        height: 35vw;
    }
}



.about-us__line{
    width: 94vw;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}





.about-us__people{
    margin-top: 87px;
    margin-bottom: 89px;
    margin: 0 auto;
    width: 78vw;
}
.about-us__people-images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}
.about-us__poeple-image{
    width: 16.1vw;
}
.about-us__poeple-image img{
    width: 100%;
    aspect-ratio: 2 / 3;
}
.about-us__people-text{
    width: 75%;
}


@media(max-width: 1450px){
    .about-us__people{
        width: 94vw;
    }
    .about-us__poeple-image{
        width: 20vw;
    }
    .about-us__people-text{
        width: 100%;
    }
}
@media(max-width: 680px){
    .about-us__people-images{
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .about-us__poeple-image{
        width: 25vw;
    }
}


.about-us__story-images{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    margin: 0 auto;
}
.about-us__story-image img{
    width: 100%;
}
.about-us__story-image_left{
    width: 12vw;
}
.about-us__story-image_left img{
    aspect-ratio: 232 / 349;
}
.about-us__story-image_middle{
    width: 31vw;
}
.about-us__story-image_middle img{
    aspect-ratio: 1;
}
.about-us__story-image_right{
    width: 15vw;
}
.about-us__story-image_right img{
    aspect-ratio:  288 / 349;
}
.about-us__story-text{
    width: 853px;
    padding-top: 20px;
    margin: 0 auto;
}

@media(max-width: 1350px){
    .about-us__story-text{
        width: 86vw;
        font-size: 20px;
    }
    .about-us__story-images{
        width: 92vw;
        
    }
    .about-us__story-image_left{
        width: 16vw;
    }
    .about-us__story-image_middle{
        width: 36vw;
    }
    .about-us__story-image_right{
        width: 19vw;
    }
}
@media(max-width: 700px){
    .about-us__story-image_left{
        width: 20vw;
    }
    .about-us__story-image_middle{
        width: 40vw;
    }
    .about-us__story-image_right{
        width: 23vw;
    }
}










.about-us__link{
    width: 174px;
    height: 59px;
    background-color: #88A69D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-bottom: 89px;
    text-decoration: none;
}

@media(max-width: 1000px){
    .about-us h1{
        font-size: 40px;
    }
    .about-us h2{
        font-size: 35px;
    }
    .about-us p{
        font-size: 18px;
    }
}

@media(max-width: 680px){
    .about-us h1{
        font-size: 32px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
    .about-us h2{
        font-size: 28px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
    .about-us p{
        font-size: 16px;
        margin-block-end: 0.5em;
    }
    .about-us__hidden{
        display: none;
    }
}


@media(max-width: 1350px){
    .about-us p{
        text-align: justify;
    }
}
