.cabinet__container{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #e5ebeb;
    padding-bottom: 50px;
}
.cabinet__menu-container{
}
.cabinet__menu{
    width: 280px;
    padding: 15px 5px 40px 35px;
}
.cabinet__menu_user{
    background-color: #BC7BAA;
}
.cabinet__menu_chef{
    background-color: #88A69D;
}
.cabinet__menu ul, .cabinet__menu_mobile ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
.cabinet__menu li, .cabinet__menu_mobile li{
    flex-grow: 0;
    max-width: 100%;
}
.cabinet__menu button, .cabinet__menu_mobile button{
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    width: 230px;
    text-align: left;
    text-decoration: none;
}
.cabinet__menu a, .cabinet__menu_mobile a{
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    width: 230px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 2px 0 10px;

}

.cabinet__menu-active-button{
    border: 1px solid #FFFFFF !important;
    border-radius: 20px !important;
}

.cabinet__exit-button{
    margin-top: 30px;
}


.cabinet__menu-button{
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2px;
    cursor: pointer;
    border: none;
}
.cabinet__menu-button img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.cabinet__menu-button_chef{
    background-color: #88A69D;
}
.cabinet__menu-button_user{
    background-color: #BC7BAA;
}

.cabinet__mobile-menu-top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cabinet__mobile-menu-top button{
    width: 40px;
    height: 40px;
    color: black;
}
.cabinet__mobile-menu-top img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cabinet_active{
    height: 100% !important;
    border-bottom: 1px solid gray;
    }
.cabinet__menu_mobile{
    display: none;  
}
@media(max-width: 1200px){
    .cabinet__menu a, .cabinet__menu_mobile a{
        font-size: 20px;
        width: 200px;
    }
    .cabinet__menu{
        width: 230px;
        padding: 15px 5px 25px 25px;
    }
}

@media(max-width: 1000px){
    .cabinet__container{
        flex-direction: column;
        position: relative;
    }
    .cabinet__menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cabinet__menu-container{
        display: none;
    }
    .cabinet__menu{
        display: none;
    }
    .cabinet__menu_mobile{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        padding: 0 !important;
       
       height: 0;
       overflow: hidden;
        position: absolute;
        z-index: 15;
        transition: height 0.8s;
    }
}





.cabinet__content{
    min-height: 800px;
    flex-grow: 1;
    padding: 0 5px 15px 10px;    
}


@media(max-width: 700px){
    .cabinet__content{
        padding: 0 5px 15px 5px;    
    }
}


.profile{
    padding: 20px 10px 10px 20px;
}
.profile__top{
    display: flex;
    align-items: center;
}
.profile__user-image{
    width: 153px;
    height: 153px;
    border-radius: 50%;
    background-color: white;
}
.profile__user-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__id{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    margin-left: 6px; 
}
.profile__top-button-container{
    width: 153px;
    padding-top: 7px;
}
.profile__update-photo-button{
    width: 137px;
    height: 35px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid gray;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}
.profile__top-button-container input[type="file"]{
    display:none;
}
.profile__info{
    padding-top: 33px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.profile__info-row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.profile__info-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile__info-element{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 250px;
    margin-bottom: 15px;
}
.profile__info-tag{
    font-family: Poppins;
    padding-left: 6px;
}
.profile__info-element input[type="text"], .profile__info-element input[type="password"], select{
    display: block;
    font-family: Poppins;
    border: 1px solid rgb(175, 167, 167);
    border-radius: 8px;
    height: 40px;
    padding: 0 0 2px 8px;
}
.profile__info-element textarea{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid rgb(175, 167, 167);
}
.profile__info-element input:focus, textarea:focus{
    outline: none;
}
.profile__info-element  textarea:hover{
    border: 1px solid rgb(175, 167, 167);
}

.profile__info-element select{
    height: 43.6px !important;
}
.profile__info textarea{
    height:140px;
    resize: none;
}

.profile__submit-button{
    background-color: #000000;
    width: 220px;
    height: 48px;
    border-radius: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 35px;
    cursor: pointer;
}

.profile__locality-container{
    position: relative;
}

.profile__info-inputs{
}
.profile__info-map{
    width: 400px;
    height: 350px;
}

@media(max-width: 600px){
    .profile__info-map{
        width: 320px;
        height: 300px;
    }
}



.profile__change-credentials{
    width: 250px;
    margin: 40px 0 40px 0;
    padding: 30px 10px 30px 5px;
}
.profile__change-credentials h3{
    margin: 0 0 20px 0;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
}
.profile__change-pwd-button{
   text-decoration: none;
   font-size: 18px;
    color: rgb(143, 22, 22);
}





.chef-menu{
    padding: 0 20px;
}
.chef-menu__add-dish-button{
    font-family: Montserrat;
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
}

.chef-menu__dishes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    gap: 20px;
}
.chef-menu__dish{
    width: 350px;
    font-family: Montserrat;
    border: 1px solid rgb(170, 167, 167);
    border-radius: 15px;
    padding-bottom: 10px;
    border: 1px solid gray;
}
.chef-menu__dish-img{
    width: 100%;
    height: 170px;
    border-radius: 15px;
}
.chef-menu__dish-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.chef-menu__dish-info{
    border-radius: 15px;
    padding: 5px;
}
.chef-menu__dish-name{
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0 10px 0;
    height: 30px;
}
.chef-menu__dish-description{
    font-weight: 300;
    font-size: 12px;
    margin: 10px 0 10px 0;
    height: 50px;
}
.chef-menu__dish-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 35px;
    align-items: center;
}
.chef-menu__dish-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    margin-bottom: 10px;
    height: 80px;
}
.chef-menu__dish-param{
    font-weight: 400;
    font-size: 14px;
}
.chef-menu__edit-dish-button{
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
     height: 100%;
}
.chef-menu__delete-dish-button{
    background-color: rgb(136, 5, 5);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 100%;
}



.admin-add-data{
    font-family: Montserrat;
}
.admin-add-data__segment{
    padding-bottom: 30px;
    margin: 0 20px 50px 20px;
    border-bottom: 1px solid gray;
}
.admin-add-data__segment h3{
    font-size: 18px;
    font-weight: 600;
}
.admin-add-data__input-element{
    display: flex;
    gap: 10px;
}
.admin-add-data__segment input[type="text"]{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
    font-size: 16px;
    padding: 2px 5px;
}
.admin-add-data__segment label{
    font-size: 16px;
    font-weight: 400;
}
.admin-add-data__input-element>button{
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid gray;;
    background-color: white;
    cursor: pointer;
}
.admin-add-data__data-container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.admin-add-data__data{
    padding: 5px;
    border: 1px solid gray;
    border-radius:  5px;
    display: flex;
    align-items: center;
}
.admin-add-data__data span{
    cursor: pointer;
}

.admin-add-data__data button{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.admin-add-data__data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.admin-add-data__update{
    width: 300px;
}
.admin-add-data__update input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
}
.admin-add-data__update button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

















.cabinet-useful{
    font-family: Montserrat;
    font-size: 24px;
    padding: 0 10px 20px 40px;
}
.cabinet-useful h1{
    font-weight: 700;
    font-size: 48px;
    width: 80%;
    display: block;
    margin: 0 0 20px 0;
}

@media(max-width: 1250px){
    .cabinet-useful h1{
        font-size: 36px;
        width: 90%;
        margin: 0;
    }
}
@media(max-width: 700px){
    .cabinet-useful h1{
        font-size: 26px;
        margin-top: 10px;
    }
    .cabinet-useful{
        font-size: 20px;
        padding: 0 10px 20px 10px;
    }
}




.cabinet-useful__items{
    margin-top: 80px;
}
.cabinet-useful__item{
    width: 90%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}
.cabinet-useful__itme-top{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    
}
.cabinet-useful__question-text{
    font-family: Montserrat;
    font-weight: 400;
}
.cabinet-useful__arrow{
    width: 15px;
    height: 15px;
    display: flex;
    flex-shrink: 0;
}
.cabinet-useful__arrow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  .cabinet-useful__rotated{
    transform: rotate(90deg)
  }
  .cabinet-useful__answer{
    padding: 15px 1px 10px 20px;
    font-weight: 400;
    font-style: italic;
  }

.cabinet-useful__link{
    display: flex;
    width: 230px;
    height: 46px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    border: none;
    background-color: #88A69D;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.cabinet-useful__link_user{
    background-color: #BC7BAA;
}

.cabinet-useful__social-links{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin-top: 200px;

}
.cabinet-useful__social-links a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.cabinet-useful__social-links img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



















.cabinet-tarifs{
    font-family: Montserrat;
    font-weight: 400;
    margin-left: 50px;
    padding: 5px;
}
.cabinet-tarifs h1{
    font-size: 48px;
    font-weight: 700;
}
.cabinet-tarifs__main{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}
.cabinet-tarifs__curret-tarif{
    border: 1px solid gray;
    padding: 12px;
    border-radius: 10px;
    flex-shrink: 0;
    width: 500px;
    padding: 10px 10px 30px 30px;
    font-size: 20px;
}
.cabinet-tarifs__tarif-row{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.cabinet-tarifs__tarif-row span{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.cabinet-tarifs__tarif-row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cabinet-tarifs__discount{

}
.cabinet-tarifs__discounted-price{
    text-decoration: line-through;
    font-size: 1.1em;
    font-weight: 700;
    display: inline-block;
}

.cabinet-tarifs__buy{
    width: 460px;
    padding: 10px;
}
.cabinet-tarifs__buy h2{
    margin: 0;
}
.cabinet-tarifs__buy p{
    margin-bottom: 40px;
}

.cabinet-tarifs__buy label{
    display: block;
    font-weight: 600;
    font-size: 16px;
}
.cabinet-tarifs__buy input[type="text"]{
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    width: 100%;
    padding: 2px 10px;
    font-size: 16px;
    font-size: Montserrat;
}
.cabinet-tarifs__buy input:focus{
    
}
.cabinet-tarifs__buy form{
    display: block;
    width: 90%;
}
.cabinet-tarifs__form-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cabinet-tarifs__form-field{
    width: 45%;
}
.cabinet-tarifs__form-field_card{
    width: 100%;
}
.cabinet-tarifs__card{
    width: 95%;
}
.cabinet-tarifs__card-data{

}
.cabinet-tarifs__sum{

}
.cabinet-tarifs__submit-button{
    background-color: black;
    color: white;
    display: flex;
    width: 116px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.cabinet-tarifs__info{
    font-size: 24px;

}

@media(max-width: 1500px){
    .cabinet-tarifs{
        margin-left: 20px;
    }
    .cabinet-tarifs__main{
        gap: 20px;
    }
    .cabinet-tarifs__buy{
        width: 360px;
        padding: 10px;
    }
    
}

@media(max-width: 650px){
    .cabinet-tarifs h1{
        font-size: 28px;
        text-align: center;
    }
    .cabinet-tarifs h2{
        text-align: center;
    }
    .cabinet-tarifs{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cabinet-tarifs__main{
        gap: 20px;
        justify-content: center;
    }
    .cabinet-tarifs__buy{
        width: 360px;
        padding: 0;
        margin: 0 auto;
    }
    .cabinet-tarifs__curret-tarif{
        font-size: 14px;
        width: 86%;
    }
    .cabinet-tarifs__tarif-row{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .cabinet-tarifs__form-field{
        width: 45%;
    }
    .cabinet-tarifs__form-field_card{
        width: 100%;
    }
    .cabinet-tarifs__card{
        width: 95%;
    }
}
