.cabinet__container{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #e5ebeb;
}
.cabinet__menu-container{
}
.cabinet__menu{
    background-color: #88A69D;
    width: 280px;
    padding: 15px 5px 40px 35px;
}
.cabinet__menu ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.cabinet__menu button{
    cursor: pointer;
    border: none;
    background-color: #88A69D;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    width: 230px;
    text-align: left;
    text-decoration: none;
}
.cabinet__menu a{
    cursor: pointer;
    border: none;
    background-color: #88A69D;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    width: 230px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.cabinet__menu-active-button{
    border: 1px solid #FFFFFF !important;
    border-radius: 20px !important;
}
.cabinet__exit-button{
    margin-top: 30px;
}
.cabinet__content{
    height: 1200px;
}
.profile{
    padding: 20px 10px 10px 50px;
}
.profile__top{
    display: flex;
    align-items: center;
}
.profile__user-image{
    width: 153px;
    height: 153px;
    border-radius: 50%;
    background-color: white;
}
.profile__user-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__id{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    margin-left: 6px; 
}
.profile__top-button-container{
    width: 153px;
    padding-top: 7px;
}
.profile__update-photo-button{
    width: 137px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    font-family: Poiret One;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid gray;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}
.profile__top-button-container input[type="file"]{
    display:none;
}
.profile__info{
    padding-top: 33px;
}
.profile__info-row{
    display: flex;
    gap: 30px;
}
.profile__info-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile__info-element{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 250px;
    margin-bottom: 15px;
}
.profile__info-tag{
    font-family: Poppins;
    padding-left: 6px;
}
.profile__info-element input[type="text"], select{
    display: block;
    font-family: Poppins;
    border: 1px solid rgb(175, 167, 167);
    border-radius: 8px;
    height: 40px;
    padding: 0 0 2px 8px;
}
.profile__info-element textarea{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid rgb(175, 167, 167);
}
.profile__info-element input:focus, textarea:focus{
    outline: none;
}
.profile__info-element  textarea:hover{
    border: 1px solid rgb(175, 167, 167);
}

.profile__info-element select{
    height: 43.6px !important;
}
.profile__info textarea{
    height: 210px;
    resize: none;
}

.profile__submit-button{
    background-color: #000000;
    width: 220px;
    height: 48px;
    border-radius: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 35px;
    cursor: pointer;
}




.add-dish{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}   

.modal-active{
    opacity: 1;
    pointer-events: all;
}

.add-dish__content{
    min-height: 300px;
    background-color: white;
    padding: 11px;
    border-radius: 15px;
}
.add-dish__row{
    display: flex;
}
.add-dish label{
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    margin-top: 6px;
}
.add-dish__photo{
    width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-dish__image{
    width: 100%;
    height: 134px;
    border-radius: 20px;
    border: 1px solid #727171;
    margin-bottom: 20px;
}
.add-dish__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.add-dish__add-photo-button{
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 5px 1px;
    border-radius: 10px;
}
.add-dish input[type="text"]{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
   
}
.add-dish__name{
    width: 250px;
}
.add-dish textarea{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    width: 250px;
    height: 110px;
    overflow-y: auto;
    resize: none;
}
.add-dish__textarea-ingredient{
    height: 70px !important;

}
.add-dish__top-column{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.add-dish__question-img{
    width: 14px;
    height: 14px;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 2px;
}
.add-dish__question-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-dish__is-active{
    width: 172px;
    height: 33px;
}
.add-dish__time{
    width: 160px;
}

.add-dish__categories{
    width: 30%;
}
.add-dish__tags{
    width: 400px;
}
.add-dish__selected-tags{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}
.add-dish__tag_selected-tags{
    border: 1px solid rgb(167, 167, 167);
    padding: 4px;
    margin: 4px 8px 4px 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    height: 16px;
    display: flex;
    align-items: center;
}
.add-dish__tag_selected-tags span{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 25%;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
}
.add-dish__tag_selected-tags img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.add-dish__tag-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    width: 100%;
}
.add-dish__tag_tag-list{
    border: 1px solid rgb(167, 167, 167);
    padding: 4px;
    margin: 4px 8px 4px 0;
    cursor: pointer;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    height: 16px;
}

.add-dish__bottom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.add-dish__save-button{
    background-color: #000000;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 20px;
    display: block;
}