.chefs{
    font-family: Montserrat;
    font-size: 20px;
}
.chefs h1{
    margin: 0 auto;
    text-align: center;
}
.chefs__top{

}
.chefs__chef-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.chefs__chef{
    display: flex;
    width: 800px;
    height: 200px;
    align-items: center;
    margin-bottom: 25px;
    border-left: 2px solid #88A69D;
    padding-left: 15px;
    color: black;
    text-decoration: none;
}
.chefs__chef-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}
.chefs__chef-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chefs__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 10px;
    padding: 0 10px;
}
.chefs__chef-name{

}
.chefs__chef-info-row{
    font-size: 0.8em;
    margin: 5px 0;
}
.chefs__chef-dishes-number{

}
.chefs__chef-description{
    font-size: 16px;
    font-weight: 200;
    line-height: 17px;
    font-style: italic;
    max-height: 60px;
    overflow: hidden;
}

.chefs__chef-rating{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 18px;
}
.chefs__chef-rating span{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.chefs__chef-rating img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 965px){
    .chefs{
        font-size: 16px;
    }
    .chefs__chef{
        display: flex;
        width: 340px;
    }
    .chefs__chef-img{
        width: 100px;
        height: 100px;
    }
    .chefs__info{
        margin-left: 5px;
        padding: 0 5px;
    }
    .chefs__chef-description{
        font-size: 12px;
        line-height: 12px;
    }
}








.chef{
    font-family: Monserrat;
    font-size: 22px;
    padding: 10px 10px 50px 30px;
}
.chef__info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.chef h1{
    font-size: 26px;
    margin: 0;
}
.chef__info{
    width: 450px;
}
.chef__info-top{
    display: flex;
    margin-bottom: 10px;
}
.chef__info-top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}
.chef__chef-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(199, 196, 196);
    margin-bottom: 5px;
}

.chef__chef-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.chef__info-locality{
    color:rgb(105, 124, 105);
}
.chef__info-link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    text-decoration: none;
    word-break: break-all;
    
}
.chef__info-link:hover{
    color: blue;
}

.chef__description{
    font-size: 16px;
}
.chef__map{
    width: 540px;
    height: 380px;
    background-color: rgb(215, 235, 215);
    box-sizing: border-box;
}
.chef h3{
    font-size: 24px;
}

.chef__link-to-dishes{
    color: black;
    text-decoration: none;
}

.chef__dishes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}










.chefs-map{
    width: 100%;
    min-height: 90vh;
    padding-bottom: 10px;
}
.chefs-map h1{
    margin: 0 auto;
    text-align: center;
}
.chefs-map__params{

}
.chef-map__map-container{
    display: flex;
    justify-content: center;
    
}
.chefs-map__map{
    width: 98%;
    height: 700px;
}



.chefs-map__popup{
    width: 100px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    gap: 5px;
}
.chefs-map__popup-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.chefs-map__popup-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chefs-map__popup-name{
    color: black;
    text-decoration: none;
}
.chefs-map__popup-dishes{
    color: black;
    font-size: 12px;
}
.chefs-map__popup-rating{
    font-size: 12px;
    color: black;
    text-decoration: none;
    width: 90px;
}

@media(max-width: 500px){
    
.chefs-map{
    min-height: 70vh;
}
.chefs-map__map{
    width: 98%;
    height: 60vh;
}

}