.dishes{
    
    
    display: flex;
}
.dishes__container{
    font-family: Montserrat;
    padding: 0 15px 0 30px;
}
@media(max-width: 1100px){
    .dishes__container{
        padding: 0 10px 0 10px;
    }
}

.dishes h1{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
}



.dishes__menu{
    width: 210px;
    flex-shrink: 0;
    padding: 20px 35px 35px 10px;
    margin-bottom: 100px;
    border-right: 1px solid rgb(210, 219, 210);
}

.dishes__menu-title{
    display: none;
    width: 90px;
    height: 20px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
.dishes__menu-title_active{
    display: block;
}
.dishes__menu-dark-area{
   visibility: hidden;
    background-color: rgb(44, 42, 42);
    opacity: 0.1;
    transition: opacity 0.7s;
    width:0;
    height: 0;
}
.dishes__menu-dark-area_active{
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    opacity: 0.55;
    transition: opacity 0.7s;
    width: 100vw;
    height: 100vh;
}
.dishes__menu-container{
    left: -400px;
    transition: 0.4s;
    background-color: white;
    z-index: 40;
}
.dishes__menu-container_active{
    visibility: visible !important;
    left: 0;
    border: 1px solid rgb(210, 219, 210);
}
@media(max-width: 1330px){
    .dishes__menu{
        padding: 20px 10px 35px 20px;
        width: 170px;
        
    }
}
@media(max-width: 1075px){
    .dishes__menu-container{
        position: fixed;
        top:0;
        visibility: hidden;
    }
    .dishes__menu{
        padding: 20px 20px 35px 30px;
        width: 230px;
        
    }
    .dishes__list-container{
        align-items: center;
    }
}

.dishes__menu-element{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0 15px 0;
    
}

.dishes__menu .active-locality{
    position: unset;
    border: none;
}
.dishes__menu-element-text{
    margin-left: 5px;
}
.dishes__menu-arrow{
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.dishes__menu-arrow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.dishes__menu-arrow_active img{
    transform: rotate(-90deg);
    transition: 0.3s;
}
.dishes__menu-params{
    padding: 2px;
}
.dishes__menu-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.dishes__category-link{
    display: flex;
    gap: 5px;
    color: black;
    text-decoration: none;
}
.dishes__category-checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}
.dishes__category-checkbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.dishes__category-checkbox_selected{
    background-color: rgb(184, 212, 184);
}
.dishes__category-checkbox_selected img{
    display: block
}
.dishes__tag-link{
    display: block;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.dishes__city-link{
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.dishes__city-link_active{
    color: green;
}









/* .dishes__params{
    font-size: 14px;
    border-bottom: 1px solid rgb(210, 219, 210);
}
.dishes__params-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: top;
} */
 .dishes__params{
    font-size: 14px;
    border-bottom: 1px solid rgb(210, 219, 210);
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: top;

 }
.dishes__params-left{
    display: flex;
    align-items: top;
   
}
.dishes__params-show-menu{
    display: none;
    padding: 2px;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(206, 197, 214);
    cursor: pointer;
}
.dishes__params-dishes-count{
    width: 200px;
    margin-right: 20px;
    flex-shrink: 0;
}
.dishes__params-filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

@media(max-width: 1080px){
    .dishes__params-filters{
        display: none;
    }
    .dishes__params-show-menu{
        display: block;
    }
}

.dishes__params-name{
    margin-left: 20px;
}
.dishes__params-sort{
    width: 100%;
}
.dishes__params-right{
    flex-shrink: 0;
    flex-basis: 120px;
}

.dishes__param{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    gap: 10px;
}
.dishes__remove-param{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}
.dishes__remove-param img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
}
.dishes__params-category{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}
.dishes__params-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media(max-width: 1280px){
    .dishes__params-category, .dishes__params-tags{
        display: none;
    }
}
















.dishes__content{
    flex-basis: 100%;
    
    padding: 20px 10px;
}

.dishes__list-container{
    display: flex;
    padding-left: 100px;
}

@media(max-width: 1770px){
    .dishes__list-container{
        padding-left: 10px;
    }
}

.dishes__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
    
}
@media(max-width: 1330px){
    .dishes__list{
        gap: 5px;
    }
}
.dishes__dish{
    position: relative;
    width: 350px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-bottom: 10px;
    flex-shrink: 0;
}
.dishes__chef-info{
    position: absolute;
    right: 1px;
    top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 20;
   
}
.dishes__chef-img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid rgb(134, 134, 134);
    box-shadow: -2px 0px 4px rgb(112, 111, 111);
}
.dishes__chef-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.dishes__chef-rating{
    display: flex;
    align-items: center;
    width: 65px;
    height: 25px;
    font-size: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: -1px 1px 2px rgb(168, 166, 166);
    padding: 0 1px 0 4px;
    gap: 2px;
}
.dishes__chef-rating span{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.dishes__chef-rating img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishes__dish-img{
    height: 180px;
    border-radius: 15px;
}

.dishes__dish-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.dishes__dish-info{
    padding: 10px;
}
.dishes__dish-chef-name{
    font-weight: 400;
    font-size: 16px;
    height: 25px;
    padding: 5px 0;
    margin-bottom: 15px;
    overflow: hidden;
}
.dishes__dish-name{
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
}
.dishes__dish-description{
    font-weight: 300;
    font-size: 14px;
    padding: 5px 0;
    height: 50px;
    overflow: hidden;
}
.dishes__dish-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: 50px;
}
.dish__dish-tag{
    height: 16px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.dishes__dish-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.dishes__dish-buttons button, .dishes__dish-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC7BAA;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
    padding: 0 5px;
    border-radius: 10px;

}


.dishes__pages{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}
.dishes__page-blocks{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.dishes__page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
}
.dishes__page:hover{
    border: 1px solid rgb(22, 182, 35);
    color: rgb(22, 182, 35);
}
.dishes__page_disabled{
    color: rgb(187, 185, 185);
    border: 1px solid rgb(158, 157, 157);
    cursor: default;
}
.dishes__page_disabled:hover{
    color: rgb(187, 185, 185);
    border: 1px solid rgb(158, 157, 157);
}

.dishes__page_current{
    color: rgb(185, 181, 181);
    cursor: default;
}
.dishes__page_current:hover{
    border: 1px solid gray !important;
    color: rgb(185, 181, 181);  
}