.dish{
    font-family: Montserrat;
    padding: 0 10px 10px 20px;
}

.dish h1{
    font-weight: 700;
    font-size: 24px;
    margin: 0;
} 
.dish h2{
} 
.dish h3{
    font-weight: 500;
    margin: 10px 0 0 0;
}

.dish__main-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 120px;
    gap: 20px;
}



.dish__left{
    width: 500px;
    flex-shrink: 0;
}

.dish__img{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}

.dish__dish-rating{
    position: absolute;
    left: 5px;
    top: 5px;
}

.dish__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.dish__chef-container{
    display: flex;
    justify-content: left;
    padding-top: 20px;
}
.dish__chef{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
}
.dish__chef-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dish__chef-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.dish__chef-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.dish__chef-name{
    line-height: 1em;
    margin-top: 10px;
}
.dish__chef-rank{

}
.dish__chef-dishes-button{
    background-color: #BC7BAA;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
}



.dish__right{
    width: 850px;
}

.dish__dish-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 40px 0;
}
.dish__price{
    background-color: #88A69D;
    color: white;
    border-radius: 15px;
    padding: 4px 10px;
    font-weight: 500;
    font-family: Roboto;
    font-size: 24px;
    text-align: center;
}
.dish__weight{

}
.dish__buy-button{
    background-color: #BC7BAA;
    color: white;
    padding: 8px;
    font-size: 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}


.dish__desription{
    margin: 10px 0 20px 0;
    font-weight: 200;
}
.dish__ingredients{
    font-weight: 300;
    font-size: 16px;
}
.dish__chef-dishes-container{
    margin: 20px 0 80px 20px;
}
.dish__dishes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
}

@media(max-width: 800px){
    .dish__main-content{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .dish__left{
        display: flex;
        width: 95%;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .dish__img{
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 20px;
    }
    .dish__right{
        width: 100%;
    }
}






.dish__top-navigation{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.dish__navigation-button{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(69, 82, 69);
}
.dish__navigation-button_active{
    color: rgb(164, 206, 164);
}


.dish__add-review-button{
    font-family: Montserrat;
    font-size: 22px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #627a73;
    color: rgb(254, 255, 254);
    border: none;
    border-radius: 10px;
}
.dish__reviews{
    margin-top: 20px;
}
.dish__review{
   
    font-size: 16px;
}
.dish__review-rating{
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}
.dish__review-rating-star{
    width: 15px;
    height: 15px;
}
.dish__review-rating-star img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish__review-message{
    font-family: Montserrat;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.dish__review-message-info{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid rgb(158, 180, 158);
    margin-bottom: 10px;
}
.dish__message-author-role{
    padding: 2px;
}
.dish__message-author-role_admin{
    background-color: rgb(187, 144, 124);
}
.dish__message-author-role_chef{
    background-color: rgb(165, 179, 115);
}
.dish__message-author-role_user{
    background-color: rgb(145, 212, 179);
}
.dish__review-name{

}
.dish__review-date{

}

.dish__add-review{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.dish__add-review h2{
    font-size: 20px;
    margin: 0;
    text-align: center;
}
.dish__add-rewiev-input{
    width: 90%;
    display: block;
    margin-bottom: 10px;
    height: 100px;
    resize: none;
}
.dish__add-rewiev-submit{
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}
.dish__review-child-container{
    margin: 10px 0 10px 30px;
}

.dish__choose-rating{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.dish__choose-rating-star{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.dish__choose-rating-star img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dish__remove-review-button{
    border-radius: 5%;
    background-color: rgb(233, 86, 86);
    cursor: pointer;
    border: none;
    margin-left: 10px;
    padding: 2px;
}