#root{
  width: 100%;
  margin: 0 auto;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.header{
  padding: 10px 2.5vw 25px 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  height: 115px;
}
.header__container{
  
}
.header__logo{
  width: 164px;
  font-family: Poiret One, sans-serif;
  font-weight: 400;
  font-size: 1.67vw;
  line-height: 2.19vw;
}
.header__search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #0000004D;
  padding: 8px 1%;
  width: 30%;
}
.header__search input{
  border: none;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.5vw;
  color: #00000080;
  display: block;
  height: 45px;
  width: 64%;
  margin-right: 10px;
}
.header__search input:focus{
  outline: none;
}
.header__auth{
  padding-left: 20px;
}
.header__search-button{
  display: flex;
  width: 30%;
  height: 50px;
  border-radius: 20px;
  background-color: #88A69D;
  align-items: center;
  justify-content: center;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.2vw;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}
.header__nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38%;
}
.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.header__menu-link{
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.3vw;
  color: black;
  text-decoration: none;
  user-select: none;

}
.header__menu-link_catalog{
  color: black;
  border-bottom: 1px solid gray;
}


.header__city-button{
  position: relative;
  cursor: pointer;
}
.header__city{
}
.header__city-list{
  position: absolute;
  left: 0;
  top: 2vw;
  z-index: 50;
  width: 7vw;
  background-color: white;
  border: 1px solid #c4c0c0;
  border-radius: 10px;
  padding: 15px 5px 10px 5px;
  user-select: none;
}
.header__city-list-item{
 
  color: black;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1vw;
  user-select: none;
}
.header__city-list-item:hover{
  text-decoration: underline;
}
.header__city-arrow{
  margin-left: 10px;
  user-select: none;
}

.header__auth{
  display: flex;
  gap: 18px;
}

.header__signin-button{
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #2b3633;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1vw;
  user-select: none;
}
.header__register-button{
  display: flex;
  height: 50px;
  border-radius: 20px;
  background-color: #627a73;
  align-items: center;
  justify-content: center;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1vw;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 10px;
  user-select: none;
}
.header__burger-menu{
  display: none;
}


@media(max-width: 1000px){
  .header{
    height: 85px;
  }
  .header__auth, .header__menu-item{
    display: none;
  }
  .header__nav{
    width: auto;
  }
  .header__nav ul{
    padding-inline-start: 0;
  }
  .header__cart{
    display: block;
  }
  .header__logo{
    font-size: 24px;
    line-height: 32px;
    width: auto;
  }
  .header__search{
    width: 45%;
    border-radius: 25px;
    padding: 4px 1%;
  }
  .header__search input{
   font-size: 2.4vw; 
   height: 30px;
  }
  .header__search-button{
    font-size: 2.4vw;
    height: 35px;
    border-radius: 18px;
  }
  .header__burger-menu{
    display: block;
    width: 35px;
    height: 35px;
  }
  .header__burger-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}




.home__main-screen{
  position: relative;
  width: 100%;
  height: 35vw;
  background-image: url('./assets/home.jpg');
  background-size: cover;
   display: flex;
   padding-top: 12%;
 /*
  justify-content: center;
  align-items: center; */
}
.home__main-screen:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  opacity: 0.7;
  z-index: 1;
}


.home__main-screen-content{
  width: 59%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin: 0 auto;
}
.home__main-screen-text{
  font-family: Poiret One;
  font-size: 400;
  font-size: 4.7vw;
  text-align: center;
  color: white;
}
.home__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.4vw;
  border-radius: 30px;
  padding-left: 2%;
  padding-right: 1%;
  background-color: white;
  
}
.home__search input{
  border: none;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.7vw;
  color: #00000080;
  display: block;
  height: 64%;
  width: 78%;
}
.home__search input:focus{
  outline: none;
}
.home__search-button{
  display: flex;
  width: 18%;
  height: 85%;
  border-radius: 25px;
  background-color: #88A69D;
  align-items: center;
  justify-content: center;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.6vw;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}


.product-slogan{
  padding: 5.98vw 0 6.14vw 0;
  display: flex;
  justify-content: center;
}
.product-slogan__inner{ 
  display: flex;
  justify-content: space-between;
  gap: 6.3vw;
}
.product-slogan__item{
  width: 7.81vw;
  height: 11.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-slogan__image{
  width: 100%;
  height: 7.8vw;
}
.product-slogan__image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-slogan__text{
  font-family: Montserrat;
  font-size: 1.67vw;
  font-weight: 400;
  text-align: center;
}

@media(max-width: 1000px){
  .home__main-screen{
    height: 40vh;
    padding-top: 30%;
  }
  .home__main-screen-content{
    width: 90%;
  }
  .home__main-screen-text{
    font-size: 6vw;
  }
  .home__search{
    height: 50px;
    border-radius: 25px;
    padding-right: 5px;
  }
  .home__search-button{
    width: 30%;
    height: 75%;
    font-size: 18px;
  }
  .home__search input{
    font-size: 18px;
  }

  .product-slogan{
    padding: 5.98vw 0 6.14vw 0;
  }
  .product-slogan__item{
    width: 17vw;
    height: 20vw;
  }
  .product-slogan__image{
    height: 17vw;
  }
  .product-slogan__text{
    font-size: 18px;
  }
}






.home__content-screen{
  
  margin: 0 auto;
  padding: 0 3.64vw;
}
.home__second-screen-content{
  border-top: 1px solid black;
  padding-top: 7.39vw;
  padding-bottom: 10.67vw;
}
.home__second-screen-content-info{
  display: flex;
  justify-content: space-between;
}
.home__second-screen-content-left{
  display: flex;
  width: 748px;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}
.home__second-screen-title{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 3vw;
}
.home__second-screen-img{
  width: 38.9vw;
  height: 27.2vw;
  border-radius: 20px;
}
.home__second-screen-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__second-screen-content-right{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 1.3em;
  width: 941px;
}
.home__second-screen-content-right p{
  margin: 0;
  padding:0;
}
.home__button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  width: 14.95vw;
  height: 4.07vw;
  background-color: #BC7BAA;
  border-radius: 30px;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.5vw;
  color: #FFFFFF;
  margin-top: 2.5vw;
}

.home__second-screen_mobile{
  display: none;
  border-top: 1px solid black;
  padding-top: 2vw;
  padding-bottom: 4vw;
}
.home__second-screen_mobile p{
  font-size: 20px;
  margin-block-start: 2vw;
  margin-block-end: 2vw;
}
.home__second-screen-image-and-header{

}
.home__second-screen-img_mobile{

}
.home__second-screen-img_mobile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 1000px){
  .home__second-screen-content{
    display: none;
  }
  .home__second-screen_mobile{
    display: block;
  }
  .home__button{
    width: 32vw;
    height: 9vw;
    font-size: 2.8vw;
    margin-top: 3vw;
  }
}







.home__third-screen{
  padding-top: 81px;
  border-top: 1px solid black;
  position: relative;
}
.home__third-screen-content{
  height: 55.5729vw;
  background-image: url('./assets/BackgroundScreen3.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  position: relative;
 
}
.home__third-screen-upper{
  width: 45.5vw;
  position: absolute;
  top: 7.59%;
  left: 29%;
  background-color: white;
  padding: 7.8% 12px 11.5% 1px;
}
.home__third-screen-upper h2{
  padding: 0 0 7.88% 12px;
  font-family: Roboto Black;
  font-weight: 900;
  font-size: 3.3vw;
  text-align: center;
  line-height: 3.5vw;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.home__third-screen-text{
  width: 90%;
  margin: 0 auto;
}
.home__third-screen-text{

  font-family: Roboto Light;
  font-size: 1.7vw;
  text-align: center;
 
}

.home__third-screen-button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__third-screen-list{
  display: flex;
  justify-content: space-between;
  padding: 0 95px 91px 134px;
  border-bottom: 1px solid black;
  margin-top: 9vw;
}
.home__third-screen-list-item{
  width: 24vw;
}
.home__thrd-screen-list-image{
  padding: 0 38.9% 53px 21.7%;
}
.home__thrd-screen-list-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__third-screen-list-text{
  font-family: Roboto Medium;
  font-size: 1.6vw;
  font-weight: 500;
}



@media(max-width: 1000px){
  .home__third-screen{
    
    padding-top: 60px;
  }
  .home__third-screen-content{
    height: 75vw;
    background-size: 150%;
  }
  .home__third-screen-upper{
    width: 75vw;
    top: 12%;
    left: 6%;
    padding: 5% 4% 8% 4%;
  }
  .home__third-screen-upper h2{
    padding: 0 0 7% 0;
    font-size: 5.2vw;
    line-height: 4.8vw;
  }
  .home__third-screen-text{
    width: 95%;
    font-size: 4vw;
    line-height: 4.2vw;
  }

  .home__third-screen-list{
    margin-top: 30px;
    padding: 0 10px 60px 10px;
    flex-direction: column;
    gap: 20px;
  }
  .home__third-screen-list-item{
    display: flex;
    width: 100%;
  }
  .home__thrd-screen-list-image{
   width: 70px;
   height: 70px;
   padding: 0;
  }
  .home__thrd-screen-list-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .home__third-screen-list-text{
    display: flex;
    align-items: center;
    font-size: 3.2vw;
    padding: 0;
    width: 80%;
    margin-left: 20px;
  }
}














.home__chef-stories{
  padding: 91px 0 134px 0;

}
.home__chef-stories-header{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 112px;
}
.home__chef-stories h2{
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  width: 569px;
  padding: 0;
}
.home__chef-stories-slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__chef-stories-button{
  width: 3.1vw;
  height: 3.07vw;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
}
.home__chef-stories-button img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.home__chef-stories-list{
  display: flex;
  justify-content: space-between;
  width: 86.9%;
}
.chef-story-item{
  width: 45%;
  height: 50vw;
  border-radius: 30px;
  border: 1px solid gray;
  padding: 2.45vw 0 0 2.35vw;
  font-family: Montserrat;
  

}
.chef-story-item h3{
  font-weight: 800;
  font-size: 2.08vw;
  margin: 10px 0;
}
.chef-story-item__header{
  display: flex;
  padding-bottom: 2.08vw;
}
.chef-story-item__header-img{
  width: 8.17vw;
  height: 8.17vw;
  border-radius: 50px;
}
.chef-story-item__header-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chef-story-item__header-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.718vw;
}
.chef-story-item__chef-info{
  font-size: 2.08vw;
  padding-bottom: 5px;
}
.chef-story-item__kitchen{
  font-size: 1.56vw;
}
.chef-story-item__story{
  font-weight: 400;
  font-size: 1.875vw;
  overflow-y: hidden;
  height: 65%;
}


@media(max-width: 1000px){
  .home__chef-stories{
    padding: 40px 0 60px 0;
  }
  .home__chef-stories-header{
    padding-bottom: 20px;
  }
  .home__chef-stories h2{
    font-size: 32px;
    padding: 0;
    margin: 0;
  }
  .home__chef-stories-list{
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .chef-story-item{
    width: 90%;
    height: 450px;
  }
  .chef-story-item__header-img{
    width: 20vw;
    height: 20vw;
    border-radius: 50px;
  }
  .chef-story-item__header, .chef-story-item__chef-info, .chef-story-item h3{
    font-size: 4vw;
  }
  
  .chef-story-item__kitchen{
    font-size: 3vw;
  }
  .chef-story-item__story{
    padding: 1.2vw 2px 3vw 1vw;
    font-weight: 400;
    font-size: 16px;
  }
  .home__chef-stories-button{
    width: 30px;
    height: 30px;
  }
}














.popular-chefs{
  padding: 0 0 90px 10px;
  font-family: Montserrat;
}
.popular-chefs h2{
  padding-left: 9.79%;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 64px;

}
.popular-chefs__slider{
  padding-left: 9.79%;
}
.popular-chefs__items{
  display: flex;
  overflow: hidden;
  gap: 3vw;
}
.popular-chefs__item{
  flex: 0 0 58.65vw;
  border: 1px solid gray;
  border-radius: 20px;
}
.popular-chefs__header{
  padding: 47px 24px 25px 35px;
  display: flex;
  justify-content: space-between;
}
.popular-chefs__chef-photo{
  width: 11.34%;
  height: 11.34%;
  border-radius: 50%;
 
}
.popular-chefs__chef-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-chef__chef-info{
  border-right: 1px solid gray;
  flex-shrink: 2;
  width: 37.6%;
}
.popular-chef__chef-info h4{
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}
.popular-chef__chef-info p{
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
.popular-chef__chef-button{
  display: flex;
  width: 142px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: #BC7BAA;
  border-radius: 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto Light;
  font-weight: 300px;
  font-size: 14px;
  margin-top: 10px;
}
.popular-chef__chef-description{
  font-size: 400;
  font-weight: 20px;
  width: 44.2%;
}
.popular-chef__ranking{
  width: 130px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  margin-left: 35px;
}
.popular-chef__ranking-icon{
  width: 25px;
  height: 25px;
}
.popular-chef__ranking-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-chef__ranking-value{
  font-weight: 600;
  font-size: 15px;
  padding: 2px 1px 0 2px;
}
.popular-chef__dishes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4% 100px 4%;
}
.popular-chef__dish{
  width: 47.54%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
}
.popular-chef__dish-img-container{
  width: 25%;
  display: flex;
  align-items: center;
}
.popular-chef__dish-img{
  border-radius: 50%;
}
.popular-chef__dish-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-chef__dish-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 68%;
}
.popular-chef__dish-info h5{
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 12px 0;
}
.popular-chef__dish-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-chef__dish-description{
  font-weight: 400;
  font-size: 18px;
}
.popular-chef__dish-buttons{
  display: flex;
  flex-wrap: wrap;
  
}
.popular-chef__dish-button{
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 14px;
  text-decoration: none;
  border: none;
  display: block;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}
.popular-chef__dish-button_details{
  background-color: #88A69D;
}
.popular-chef__dish-button_buy{
  background-color: #BC7BAA;
}

.popular-chef__scroll-buttons{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 10px;
}
.popular-chef__scroll-button{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
  
}
.popular-chef__scroll-button_active{
  background-color: #BC7BAA;
}


@media(max-width: 1000px){
  .popular-chefs{
    padding: 20px 0 40px 10px;
  }
  .popular-chefs h2{
    padding-left: 9.79%;
    font-size: 36px;
    margin: 10px;
  
  }
}




.home__client-security{
  border-top: 1px solid gray;
}
.home__client-security h2{
  margin: 4vw auto;
  padding: 0;
  font-family: Montserrat;
  font-size: 5vw;
  line-height: 6.2vw;
  font-weight: 700;
  text-align: center;
  width: 58.8%;

}
.home__client-security-logo{
  margin: 0 auto;
  width: 126px;
  height: 126px;
}
.home__client-security-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__client-sevurity-content{
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
}
.home__client-security-image{
  width: 34vw;
  height: 46vw;
  border-radius: 20px;
}
.home__client-security-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__clients-security-right{
  width: 48%;
}
.home__client-security-list{

}
.home__client-securiy-list-item{
  display: flex;
  gap: 35px;
  width: 91%;
  align-items: center;
  padding-bottom: 40px;
}
.home__client-security-list-icon{
  background-image: url("./assets/securityListIcon.png");
  width: 5.47vw;
  height: 5.47vw;
  background-size: cover;
  background-repeat: no-repeat;

}
.home__client-security-list-text{
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 1.65vw;
  width: 79%;
}
.home__client-security-info{
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.87vw;
  line-height: 2.2vw;
  margin-bottom: 2vw;
  margin-top: 1.2vw;
}
.home__client-security-connect{
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.87vw;
  margin-bottom: 5.7vw;
}
.home__client-security-links{
  display: flex;
  gap: 1.67vw;
}
.home__client-security-links a{
  display: block;
  width: 3.1vw;
  height: 3.1vw;
  border-radius: 50%;
}
.home__client-security-links img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}







.answers-faq{
  margin-top: 7.2vw;
}
.answers-faq h2{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 4.2vw;
  width: 58.7vw;
  margin: 0 auto;
  text-align: center;
}
.answers-faq__items{
  margin-top: 8.5vw;
}
.answers-faq__item{
  width: 96%;
  margin-bottom: 75px;
  padding-bottom: 60px;
  border-bottom: 1px solid gray;
}
.answers-faq__itme-top{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  
}
.answers-faq__question-text{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 2.5vw;
}
.answers-faq__arrow{
  width: 25px;
  height: 25px;
}


.answers-faq__arrow img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.answers-faq__rotated{
  transform: rotate(90deg)
}
.answers-faq__answer{
  padding: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5vw;
}








.footer{
  background-color: #88A69D;
  padding: 0 7.2vw 29px 5.1vw;
  color: #FFFFFF;
}

.footer a{
  color: #FFFFFF;
  font-family: Montserrat;
  text-decoration: none;
}
.footer__top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer__left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo{
  margin: 5.5vw 0 5.2vw 0;
  font-family: Poiret One;
  font-size: 3.33vw;
  font-weight: 400;
  line-height: 3.9vw;
  width: 9.58vw;
}
.footer__social-links{
  display: flex;
  gap: 1.67vw;
}
.footer__social-links a{
  display: block;
  height: 3.1vw;
  width: 3.1vw;
  border-radius: 50%;
}
.footer__social-links img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.footer__nav{
  margin-top: 3.1vw;
  display: flex;
  gap: 3.8vw;
}
.footer__nav h3{
  font-weight: 600;
  font-size: 1.875vw;
  margin: 0;
}
.footer__nav a{

}
.footer__nav-column{
  display: flex;
  flex-direction: column;
  gap: 1.09vw;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-links{
  display: flex;
  gap: 2.7vw;
}
.footer__bottom-links a{
  text-decoration: none;
  font-size:  0.83vw;
}
.footer__bottom-links a:hover{
  text-decoration: underline;
}
.footer__bottom-copyright{
  font-size:  0.83vw;
}